[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/hieuchaumcgill
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/hieuchaumcgill
	label-Verified = -1..+1 group user/hieuchaumcgill
	push = group user/hieuchaumcgill
	read = group user/hieuchaumcgill
	rebase = group user/hieuchaumcgill
	removeReviewer = group user/hieuchaumcgill
	submit = group user/hieuchaumcgill
[access "refs/heads/*"]
	create = group user/hieuchaumcgill
	push = +force group user/hieuchaumcgill
	pushMerge = group user/hieuchaumcgill
	read = group user/hieuchaumcgill
[access "refs/tags/*"]
	push = group user/hieuchaumcgill
	push = +force group user/hieuchaumcgill
